<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Otras configuraciones -->

  <connectionStrings>
    <add name="basediseno" connectionString="Data Source=LAPTOP-SLLR9E60;Initial Catalog=basediseno;Trusted_Connection=True;"
 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
